.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF; /* White background */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;

  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    font-size: 24px;
    color: #00568D; /* Icon color */
    cursor: pointer;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .profile-name {
    color: #00568D; /* Text color */
    margin-right: 10px;
    font-size: 16px;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the circle */
  }
  